/* MainImage.css */
.mainimage {
    position: relative;
}

.mainpagecenter {
    width: 1920px;
    height: 718px;
}

.sorting {
    position: absolute;
    margin-top: -243px;
    margin-left: 360px;
}

.blue {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.blueex {
    color: #FFF;
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0 15px 0;
}

.buybutton {
    display: flex;
    align-items: center;
}

.buybuttonex {
    width: 136px;
    height: 45px;
    border: none;
    outline: none;
    color: #000;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    padding-right: 45px;
}

.buybutton > .bi {
    margin-left: -38px;
    margin-top: -2px;
    font-weight: bold;
}