.productcard {
    padding: 10px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
    font-family: 'Pretendard';
}

.productcard > p {
  padding-left: 10px;
}

.pname {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: -5px;
}

.pcategory {
  color: #BDBDBD;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: -5px;
}

.pprice {
  color: #424242;
  font-size: 15px;
  font-weight: 400;
}

.productcard img {
  display: block;
  margin: 0 auto;
  width: 278px;
  height: 279px;
}
  
.product-list {
  display: flex;
  gap: 20px;
  margin-left: 360px;
  overflow-x: scroll;
}