.borderbottom {
    width: 1920px;
    display: flex;
    justify-content: center;
}

.scrollborderbottom_white {
    width: 1176px;
    height: 6px;
    border-radius: 8px;
    background: #EEE;
    margin-top: 70px;
    position: relative;
}

.scrollborderbottom_black {
    width: 588px;
    height: 6px;
    border-radius: 8px;
    background: #000;
    margin-top: 70px;
    margin-left: -590px;
    position: absolute;
}